$milkWhite: #f1f3f3;
$dirtyWhite: #c9cfcf;

$DarkBrown: #292321;
$Orange: #CC3300;

$nav-link-hover-bg : #181b1b;
$navbar-color : #1F2324;
$navCategory-color: #F73B4C;
$nav-link-color: #FFF;

$categoryNavBGColor: #f85461;
$categoryNavBGColorHover: #f62334;


$formBottomBorderColor: #859393;
$formBottomBorderColorHover: $milkWhite;